*{
    box-sizing: border-box;
    font-family: 'play', sans-serif;
}
:root{
    --color-1: #ffba00;
    --color-2: #ff8a00;
    --color-3: #a9d8ff;
    --color-4: #7ac0f9;
    --color-5: #4ea7d8;
    --background-color:black;
    --darker-orange: #5a3000;
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

@media (min-width:1000px) {
    
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;  
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        width: 20%;
        height: 100%;
        padding: 10px;
    }
    .website-logo{
        width: 80px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .navbar a{
        text-decoration: none;
        color: var(--color-3)
    }
    a{
        margin: 5px 0;
    }
    .more-stories{
        display: flex;
        flex-direction: column;
    }
    .navbar a:hover{
        color: var(--color-1);
    }
    #introduction{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .introduction-info, h1{
        margin: 0;
        color: var(--color-1);
    }
    .introduction-info h1{
        transform: translateX(50px);
        font-size: 100px;
    }
    .introduction-info img{
        border-bottom: var(--color-2) 5px solid;
    }
    .questions{
        display: grid;
        grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
        column-gap: 20px;
        padding: 10px;  
        transform: translateY(50%);
    }
    .questions h2{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: medium;
        text-align: center;
        background-color: var(--darker-orange);
        padding: 10px;
        height: 60px;
        border-radius: 10px;
    }
    .questions h3{
        opacity: 0;
        font-size: small;
        text-align: center;
        height: 30px;
    }
    #background-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute  ;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.4;
    }
    main{
        width: 80%;
        height: 100vh;
        margin-left: 20%;   
    }
    #stories{
        background-color: var(--color-2);
    }
    .title-container{
        text-align: center;
        margin: 0 auto 20px;
        color: var(--color-1);
        padding: 5px 10px;
        border-radius: 5px;
        background-color: var(--background-color) ;
    }
    .stories-container{
        display: flex;
        flex-direction: column;
        height: max-content ;
        padding: 20px;
        height: max-content;
        background: linear-gradient(180deg, rgba(122,192,249,1) 0%, rgba(78,167,216,1) 50%, rgba(122,192,249,1) 100%);
    }
    .slides{
        display: flex;
        overflow-x: scroll;
    }

    .slides::-webkit-scrollbar {
        height: 5px;
    }
    .slides::-webkit-scrollbar-thumb {
        background-color: var(--color-3); /* Set the color of the thumb */
        border-radius: 10px; /* Set the border-radius for a rounded thumb */
    }
    .slides::-webkit-scrollbar-thumb:hover {
        background-color: aliceblue; /* Set the hover color of the thumb if desired */
    }

    .captions{
        text-align: center;
        margin: auto;
        width: fit-content;

    }
    .ytvid{
        width: 450px;
        height: 350px;
        object-fit: cover;
        padding: 30px;
        margin-bottom: 10px;
        transition: padding 0.5s     ease-in-out;
    }
    .ytvid:hover{
        padding: 20px;
        
    }
    footer{
        width: 80%;
        height: 50%;
        margin:auto; 
    }
    #achievements{
        display: flex;
        margin: 40px auto;
        align-items: center;
        justify-content: space-between;
    }
    .footer-img{
        margin: 0 20px;
    }
    .hr{
        width: 1px;
        height: 300px;
        background-color: var(--color-2);
        opacity: 0.5;
    }
    .no-prj, .years-of-exp{
        color: var(--color-1);
    }
    .stats{
        text-align: center;
        font-size: 100px;
    }
    .stats-description, .tagline{
        text-align: center;
    }
    .whatsapp{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
    }
}
/***************************************************************/


@media (min-width:300px)and (max-width: 999px){
    
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;  
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        width: 25%;
        height: 100%;
        padding: 10px;
    }
    .website-logo{
        width: 80px;
    }
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .navbar a{
        text-decoration: none;
        color: var(--color-3)
    }
    a{
        font-size: small;
        margin: 15px 0;
    }
    .more-stories{
        display: flex;
        flex-direction: column;
    }
    .navbar a:hover{
        color: var(--color-1);
    }
    #introduction{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .introduction-info, h1{
        font-size: smaller;
        margin: 0;
        color: var(--color-1);
    }
    .introduction-info h1{
        transform: translateX(50px);
        font-size: 50px;
    }
    .introduction-info img{
        border-bottom: var(--color-2) 5px solid;
    }
    .questions{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    .questions h2{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: small;
        text-align: center;
        background-color: var(--darker-orange);
        padding: 5px;
        height: 30px;
        border-radius: 10px;
        margin: 0;
    }
    .questions h3{
        margin: 0 0 10px;
        opacity: 0;
        font-size: small;
        text-align: center;
        height: 30px;
    }
    #background-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute  ;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.4;
    }
    main{
        width: 80%;
        height: 100vh;
        margin-left: 20%;   
    }
    #stories{
        background-color: var(--color-2);
    }
    .title-container{
        text-align: center;
        margin: 0 auto 20px;
        color: var(--color-1);
        padding: 5px 10px;
        border-radius: 5px;
        background-color: var(--background-color) ;
    }
    .stories-container{
        display: flex;
        flex-direction: column;
        height: max-content ;
        padding: 20px;
        height: max-content;
        background: linear-gradient(180deg, rgba(122,192,249,1) 0%, rgba(78,167,216,1) 50%, rgba(122,192,249,1) 100%);
    }
    .slides{
        display: flex;
        overflow-x: scroll;
        flex-warp: warp;
    }

    .slides::-webkit-scrollbar {
        height: 5px;
    }
    .slides::-webkit-scrollbar-thumb {
        background-color: var(--color-3); /* Set the color of the thumb */
        border-radius: 10px; /* Set the border-radius for a rounded thumb */
    }
    .slides::-webkit-scrollbar-thumb:hover {
        background-color: aliceblue; /* Set the hover color of the thumb if desired */
    }

    .captions{
        text-align: center;
        margin: auto;
        width: fit-content;

    }
    .ytvid{
        width: 450px;
        height: 350px;
        object-fit: cover;
        padding: 40px;
        margin-bottom: 10px;
        transition: padding 0.5s     ease-in-out;
    }
    .ytvid:hover{
        padding: 30px;
        
    }
    footer{
        width: 80%;
        height: 50%;
        margin:auto; 
    }
    #achievements{
        display: flex;
        flex-direction: column;
        margin: 40px auto;
        align-items: center;
        justify-content: space-between;
    }
    .footer-img{
        margin: 0 20px;
    }
    .hr{
        width: 1px;
        height: 50px;
        background-color: var(--color-2);
        opacity: 0.5;
    }
    .no-prj, .years-of-exp{
        color: var(--color-1);
    }
    .stats{
        text-align: center;
        font-size: 100px;
    }
    .stats-description, .tagline{
        text-align: center;
    }
    .whatsapp{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
    }
}
/***************************************************************/
