*{
    box-sizing: border-box;
    font-family: 'play', sans-serif;
}
:root{
    --color-1: #ffba00;
    --color-2: #ff8a00;
    --color-3: #a9d8ff;
    --color-4: #7ac0f9;
    --color-5: #4ea7d8;
    --background-color:black;
    --darker-orange: #5a3000;
}
body{
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

@media (min-width:601px) {
    .header-button{
        display: none;
        
    }
    .header-button-close{
        display: none;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;  
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        width: 20%;
        height: 100%;
        padding: 10px;
    }
    .website-logo{
        width: 100px;
    }
    .website-logo:active{
        width: 100px;
        animation-name: logoFall;
        animation-duration: 3s;
    }
    @keyframes logoFall {
        1%{
            transform: translateY(0);
        }
        30%{
            transform: translateY(600px);
        }
    }
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .navbar a{
        text-align: center;
        text-decoration: none;
        color: var(--color-3)
    }
    a{
        margin: 5px 0;
    }
    .more-stories{
        display: flex;
        flex-direction: column;
    }
    .navbar a:hover{
        color: var(--color-1);
    }
    #introduction{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .introduction-info, h1{
        margin: 0;
        color: var(--color-1);
    }
    .introduction-info h1{
        transform: translateX(50px);
        font-size: 100px;
    }
    .introduction-info img{
        border-bottom: var(--color-2) 5px solid;
    }
    .intro-img{
        width: 300px;
    }
    .intro-img:hover{
        animation-name: iMove;
        animation-duration: 2s;
    }
    .questions{
        display: grid;
        grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
        column-gap: 20px;
        padding: 10px;  
        transform: translateY(50%);
    }
    .questions h2{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: small;
        text-align: center;
        background-color: var(--darker-orange);
        padding: 10px;
        height: 60px;
        border-radius: 10px;
    }
    .questions h3{
        opacity: 0;
        font-size: small;
        text-align: center;
        height: 30px;
        transition: opacity 1s ease;
    }
    #q1:hover, #q1:active{
        font-size: small;
        animation-name: qButton;
        animation-duration: 5s;
    }
    #q2:hover, #q2:active{
        font-size: small;
        animation-name: qButton;
        animation-duration: 5s;
    }
    #q3:hover, #q3:active{
        font-size: small;
        animation-name: qButton;
        animation-duration: 5s;
    }
    #q4:hover, #q4:active{
        font-size: small;
        animation-name: qButton;
        animation-duration: 5s;
    }
    #q5:hover, #q5:active{
        font-size: small;
        animation-name: qButton;
        animation-duration: 5s;
    }
      
      @keyframes qButton {
        0% {
            font-size: small;
            transition: font-size ease;
        }
        50%{
            font-size: medium;
            transition: font-size ease;
        }
        80%{
            font-size: small;
            transition: font-size ease;
        }
      }
      
    #background-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute  ;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.4;
    }
    main{
        width: 80%;
        height: 100vh;
        margin-left: 20%;   
    }
    #stories{
        background-color: var(--color-2);
    }
    .title-container{
        text-align: center;
        margin: 0 auto 20px;
        color: var(--color-1);
        padding: 5px 10px;
        border-radius: 5px;
        background-color: var(--background-color) ;
    }
    .stories-container{
        display: flex;
        flex-direction: column;
        height: max-content ;
        padding: 20px;
        height: max-content;
        background: linear-gradient(180deg, rgba(122,192,249,1) 0%, rgba(78,167,216,1) 50%, rgba(122,192,249,1) 100%);
    }
    .slides{
        display: flex;
        overflow-x: scroll;
    }

    .slides::-webkit-scrollbar {
        height: 5px;
    }
    .slides::-webkit-scrollbar-thumb {
        background-color: var(--color-3); /* Set the color of the thumb */
        border-radius: 10px; /* Set the border-radius for a rounded thumb */
    }
    .slides::-webkit-scrollbar-thumb:hover {
        background-color: aliceblue; /* Set the hover color of the thumb if desired */
    }

    .captions{
        text-align: center;
        margin: auto;
        width: fit-content;
        animation-name: cJump ;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    @keyframes cJump {
        0%{
            transform: rotateZ(0deg);
            font-weight: normal;
            font-size: medium;
        }
        5%{
            transform: rotateZ(2deg);
            font-size: larger;
            font-weight: bolder;
        }
        95%{
            transform: rotateZ(2deg);
            font-size: larger   ;
            font-weight: bolder;
        }
        100%{
            transform: rotateZ(0deg);
            font-size: small;
            font-weight: medium;
        }
    }
    iframe{
        border-radius: 20px;
    }
    .ytvid{
        width: 450px;
        height: 350px;
        object-fit: cover;
        padding: 30px;
        margin-bottom: 10px;
        transition: padding 0.5s     ease-in-out;
    }
    .ytvid:hover{
        padding: 20px;
        
    }
    footer{
        width: 80%;
        height: 50%;
        margin:auto; 
    }
    #achievements{
        display: flex;
        margin: 40px auto;
        align-items: center;
        justify-content: space-between;
    }
    .footer-img{
        width: 250px;
        margin: 0 20px;
    }
    .footer-img:hover{
        animation-name: iMove;
        animation-duration: 2s;
    }
    @keyframes iMove {
        0% {
          width: 250px;
          transform: rotateZ(0);
        }
        10% {
          width: 260px;
          transform: rotateZ(5deg);
        }
        90%{
            width: 260px;
            transform: rotateZ(5deg);
        }
        100% {
            width: 250px;
            transform: rotateZ(0);
          }
      }
    .hr{
        width: 1px;
        height: 300px;
        background-color: var(--color-2);
        opacity: 0.5;
    }
    .no-prj, .years-of-exp{
        color: var(--color-1);
    }
    .stats{
        text-align: center;
        font-size: 100px;
        animation-name: sFade ;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    @keyframes sFade {
        0%{
            -webkit-mask: linear-gradient(90deg,transparent, black);
        }
        15%{
            -webkit-mask: linear-gradient(90deg, transparent, transparent);
        }
        55%{
            -webkit-mask: transparent;
        }
        75%{
            -webkit-mask: linear-gradient(90deg,black, transparent);
        }
        80%{
            -webkit-mask: linear-gradient(90deg, black, black);
        }
    }
    .stats-description, .tagline{
        text-align: center;
    }
    .whatsapp{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
    }
}
/***************************************************************/


@media (min-width:300px)and (max-width: 600px){
    .header-button{
        font-size: smaller;
        position: fixed;
        outline: none;
        border: none;
        margin: 10px;
        width: 20px;
        height: 20px;
        background-color: transparent;
        color: var(--color-1);
        
    }
    .header-button-close{
        font-size: smaller;
        position: absolute;
        top: 80px;
        background-color: transparent;
        color: var(--color-1);
        border: none;
        z-index: 1;
    }

    .header{
        z-index: 1;
        display: none;
        flex-direction: column;
        align-items: left;
        justify-content: space-evenly;  
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 10px;
        -webkit-mask: linear-gradient( -90deg , transparent 5%,black 90%);
        mask: linear-gradient( -90deg , transparent 5%,black 90%);
        animation: showHeader .5s ease;
    }
    @keyframes showHeader {
        from {
            transform: translateX(-100px);
            
        }
        to {
          transform: translateX(0);
        }
    }
      
    .website-logo{
        width: 80px;
        position: relative;
    }
    .website-logo:active, .website-logo:focus, .website-logo:hover{
        width: 80px;
        animation-name: logoFall;
        animation-duration: 3s;
    }
    @keyframes logoFall {
        1%{
            transform: translateY(0);
        }
        30%{
            transform: translateY(600px);
        }
    }
    .navbar-button{
        display: block;
    } 
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .navbar a{
        width: 50%;
        text-decoration: none;
        color: var(--color-3);
        padding: 10px;
        margin: 0;
    }
    a{
        font-size: small;
        margin: 15px 0;
    }
    .more-stories{
        display: flex;
        flex-direction: column;
    }
    .navbar a:hover{
        color: var(--color-1);
    }
    #introduction{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .introduction-info, h1{
        font-size: smaller;
        margin: 0;
        color: var(--color-1);
    }
    .introduction-info h1{
        font-size: 40px ;
    }
    .introduction-info img{
        width: 250px;
        border-bottom: var(--color-2) 5px solid;
    }
    .intro-img:active, .intro-img:focus, .intro-img:hover{
        animation-name: iMove;
        animation-duration: 3s;
    }
    
    .questions{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    .questions h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: small;
        text-align: center;
        background-color: var(--darker-orange);
        padding: 5px; /* Updated padding value */
        height: 30px;
        border-radius: 10px;
        margin: 0;
      }
    #q1:hover, #q1:active{
        font-size: small;
        animation-name: qButton;
        animation-duration: 5s;
    }
    #q2:hover, #q2:active{
        font-size: small;
        animation-name: qButton;
        animation-duration: 5s;
    }
    #q3:hover, #q3:active{
        font-size: small;
        animation-name: qButton;
        animation-duration: 5s;
    }
    #q4:hover, #q4:active{
        font-size: small;
        animation-name: qButton;
        animation-duration: 5s;
    }
    #q5:hover, #q5:active{
        font-size: small;
        animation-name: qButton;
        animation-duration: 5s;
    }
      
      @keyframes qButton {
        0% {
            font-size: small;
            transition: font-size ease;
        }
        50%{
            font-size: medium;
            transition: font-size ease;
        }
        80%{
            font-size: small;
            transition: font-size ease;
        }
      }
      
    .questions h3{
        margin: 0 0 10px;
        opacity: 0;
        font-size: small;
        text-align: center;
        height: 30px;
        transition: opacity 1s ease;
    }
    
    #background-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute  ;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.4;
    }
    main{
        height: 100vh;  
    }
    #stories{
        background-color: var(--color-2);
    }
    .title-container{
        text-align: center;
        margin: 0 auto 20px;
        color: var(--color-1);
        padding: 5px 10px;
        border-radius: 5px;
        background-color: var(--background-color) ;
    }
    .stories-container{
        display: flex;
        flex-direction: column;
        height: max-content ;
        padding: 20px;
        height: max-content;
        background: linear-gradient(180deg, rgba(122,192,249,1) 0%, rgba(78,167,216,1) 50%, rgba(122,192,249,1) 100%);
    }
    .stories-container:hover .title-container{
        animation-name: storiesTitleExpand;
        animation-duration: 5s;
    }
    @keyframes storiesTitleExpand {
        10%{
            background-color: black;
            margin: 10;
        }
        20%{
            background-color: black;
            margin: 10;
            padding:10px 100px;
            font-size: small;
            box-shadow: 0 0 20px 5px rgb(255,255,255,0.5);
            background: linear-gradient(180deg, rgb(34, 103, 160) 0%, rgb(23, 85, 136) 50%,rgb(34, 103, 160) 100%);
        }
        85%{    
            background-color: black;
            margin: 10;
            padding:10px 100px;
            font-size: small;
            box-shadow: 0 0 20px 1px rgb(255,255,255,0.3);
            background: linear-gradient(180deg, rgb(34, 103, 160) 0%, rgb(23, 85, 136) 50%,rgb(34, 103, 160) 100%);
        }
        90%{
            background-color: black;
            margin: 10;
        }
    }
    .slides{
        display: flex;
        overflow-x: scroll;
    }

    .slides::-webkit-scrollbar {
        height: 5px;
    }
    .slides::-webkit-scrollbar-thumb {
        background-color: var(--color-3); /* Set the color of the thumb */
        border-radius: 10px; /* Set the border-radius for a rounded thumb */
    }
    .slides::-webkit-scrollbar-thumb:hover {
        background-color: aliceblue; /* Set the hover color of the thumb if desired */
    }

    .captions{
        position: relative;
        text-align: center;
        margin: auto;
        width: fit-content;
        animation-name: cJump ;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    @keyframes cJump {
        0%{
            transform: rotateZ(0deg);
            font-weight: normal;
            font-size: medium;
        }
        5%{
            transform: rotateZ(2deg);
            font-size: large;
            font-weight: bolder;
        }
        95%{
            transform: rotateZ(2deg);
            font-size: large;
            font-weight: bolder;
        }
        100%{
            transform: rotateZ(0deg);
            font-size: small;
            font-weight: medium;
        }
    }
    .ytvid{
        width: 300px;
        object-fit: cover;
        padding: 40px;
        margin-bottom: 10px;   
        transition: padding 0.5s     ease-in-out;
    }
    .ytvid:hover{
        padding: 30px;
    }
    iframe{
        border-radius: 20px;
       
    }
    .ytvid-caption-container:hover iframe, .ytvid-caption-container:active iframe, .ytvid-caption-container:focus iframe
    {
        animation-name: iframeShadow;
        animation-duration: 10s;
    }
    @keyframes iframeShadow {
        0%{
            box-shadow: 0px 0px 0px 1px rgb(0,0,0,1);
            border: 0px solid var(--color-3);
        }
        3%{
            box-shadow: 10px 10px 0px 1px rgb(0,0,0,1);
            border: 5px solid var(--color-3);
        }
        80%{
            box-shadow: 10px 10px 0px 1px rgb(0,0,0,1);
            border: 5px solid var(--color-3);
        }
        100%{
            box-shadow: 0px 0px 0px 1px rgb(0,0,0,1);
            border: 0px solid var(--color-3);
        }
    }
    .ytvid-caption-container:hover .captions, .ytvid-caption-container:focus .captions{
        animation-name: captionChange;
        animation-duration: 10s;
    }
    @keyframes captionChange {
        0%{
            background-color: transparent;
            padding: 10px;
            border-radius: 10px;
        }
        3%{
            border-radius: 5px;
            color: var(--color-1);
            background-color: black;
            padding: 5px;
        }
        80%{
            border-radius: 5px;
            color: var(--color-1);
            background-color: black;
            padding: 5px;
        }
        100%{
            background-color: transparent;
            padding: 10px;
            border-radius: 10px;
        }
    }
    footer{
        width: 80%;
        height: 50%;
        margin:auto; 
    }
    #achievements {
        display: flex;
        flex-direction: column;
        margin: 40px auto;
        align-items: center;
        justify-content: space-between;
      }
      
      #achievements:hover .footer-img,  #achievements:active .footer-img {
        animation-name: iMove;
        animation-duration: 5s;
      }
      
      .footer-img {
        position: relative;
        margin: 0 20px;
        width: 250px;
      }
      
      @keyframes iMove {
        0% {
          width: 250px;
          transform: rotateZ(0);
          box-shadow: 0px 0px 0px 0px rgb(255,255,255,1);
        }
        10% {
          width: 260px;
          transform: rotateZ(5deg);
          box-shadow: 0px 0px 50px 3px rgb(255, 138, 0,.5); 
          border: 2px dotted var(--color-2);
        }
        90%{
            width: 260px;
            transform: rotateZ(5deg);
            box-shadow: 0px 0px 100px 3px rgb(255, 184, 0, 1);
            border: 3px dashed var(--color-1);
        }
        100% {
            width: 250px;
            transform: rotateZ(0);
          }
      }
      
    .hr{
        width: 1px;
        height: 50px;
        background-color: var(--color-2);
        opacity: 0.5;
    }
    .no-prj, .years-of-exp{
        color: var(--color-1);
    }
    .stats{
        text-align: center;
        font-size: 100px;
        animation-name: sFade ;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    @keyframes sFade {
        0%{
            -webkit-mask: linear-gradient(90deg,transparent, black);
        }
        2%{
            -webkit-mask: linear-gradient(90deg, transparent, transparent);
        }
        40%{
            -webkit-mask: linear-gradient(90deg, transparent, transparent);
        }
        44%{
            -webkit-mask: linear-gradient(90deg, black, black);
        }
        99%{
            -webkit-mask: linear-gradient(90deg, black, black);
        }
        100%{
            -webkit-mask: linear-gradient(90deg,transparent, black);
        }
    }
    .stats-description, .tagline{
        text-align: center;
    }
    .whatsapp{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px auto;
    }
}
/***************************************************************/
